:root {
	--ld-passcode-primary: #0054A6;
	--ld-passcode-danger: #dc3545;
	--ld-passcode-green: #198754;
}
@mixin xlink {
	&, &:link, &:active, &:hover, &:visited {@content;}
}
@mixin small {
	@media (max-width: 768px) {@content;}
}
.ld-passcode {
	& .ld-passcode-backdrop {
		background-color: var(--ld-passcode-primary);
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 1;
		animation: ld-passcode-fadeIn .25s linear 0s 1 normal forwards;
	}
	& .ld-passcode-container {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;

		& .ld-passcode-window {
			position: relative;
			background-color: #fff;
			box-shadow: 0 0 15px 5px rgba(0,0,0,.15);
			padding: 1em;
			border-radius: .5em;
			width: 96%;
			max-width: 500px;
			animation: ld-passcode-windowIn .25s ease-in-out 0s 1 normal forwards;

			& button.ld-passcode-close-btn {
				position: absolute;
				top: .5em;
				right: .5em;
				border: none;
				background: none;
				cursor: pointer;

				& svg {
					width: 1.25em;
					height: 1.25em;
					fill: var(--ld-passcode-primary);
				}
			}

			& .ld-passcode-icon {
				width: 100px;
				height: 100px;
				margin: 0 auto 1em;
				padding: 20px;
				border-radius: 50%;
				background-color: var(--ld-passcode-primary);
				transition: all 0.3s ease-in-out;

				&.ld-passcode-icon-wrong-anim {
					animation: ld-passcode-icon-wrong 1s linear 0s 1 normal forwards;
				}

				& svg {
					fill: #fff;
				}
				&.ld-passcode-icon-right-anim {
					animation: ld-passcode-icon-open 1s linear 0s 1 normal forwards;

					& svg {
						& path {
							transform-origin: 50% 50%;
							transition: all 0.3s ease-in-out;
							&.ld-passcode-icon-up {
								animation: ld-passcode-icon-unlock-up .15s linear 0s 1 normal forwards;
							}
							&.ld-passcode-icon-down {
								animation: ld-passcode-icon-unlock-down .15s linear 0s 1 normal forwards;
							}
						}
					}
				}
			}

			& p {
				text-align: center;
			}

			& .ld-passcode-inputs {
				display: flex;
				justify-content: space-between;
				width: 80%;
				margin: 0 auto;

				@include small {
					width: 100%;
				}

				& input[type=number] {
					appearance: none;
					font-size: 2rem;
					width: 3rem;
					border: 1px solid var(--ld-passcode-primary);
					border-radius: 4px;
					text-align: center;

					&::-webkit-inner-spin-button {
						-webkit-appearance: none;
						display: none;
					}

					
					&::-webkit-contacts-auto-fill-button, 
					&::-webkit-credentials-auto-fill-button {
						visibility: hidden;
						position: absolute;
						right: 0;
					}

					&:focus {
						outline: none;
					}
					/*
					&:nth-child(3) {
						margin-right: 1rem;
					}
					*/
				}
			}
			& .ld-passcode-status {
				margin-top: 1em;
				text-align: center;
				height: 1.5rem;
			}
			& .ld-passcode-faq {
				margin-top: 1em;
				text-align: center;
				font-size: .8rem;
			}
		}
	}
}
@keyframes ld-passcode-fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes ld-passcode-windowIn {
	0% {
		opacity: 0;
		transform: translateY(-150px);
	}
	50% {
		opacity: 1;
		transform: translateY(25px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes ld-passcode-icon-open {
	0% {
		background-color: var(--ld-passcode-primary);
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		background-color: var(--ld-passcode-green);
		transform: scale(1);
	} 
}
@keyframes ld-passcode-icon-unlock-up {
	0% {
		transform: scaleX(1) scaleY(1) translateY(0);
	}
	50% {
		transform: scaleX(.75) scaleY(1.05) translateY(-6px);
	}
	100% {
		transform: scaleX(1) scaleY(1) translateY(-22px);
	}
}
@keyframes ld-passcode-icon-unlock-down {
	0% {
		transform: scaleX(1) scaleY(1) translateY(0);
	}
	50% {
		transform: scaleX(.75) scaleY(1.05) translateY(6px);
	}
	100% {
		transform: scaleX(1) scaleY(1) translateY(26px);
	}
}
@keyframes ld-passcode-icon-wrong {
	0% {
		transform: translateX(0px);
		background-color: var(--ld-passcode-primary);
	}
	5% {
		transform: translateX(10px);
	}
	15% {
		transform: translateX(-9px);
	}
	25% {
		transform: translateX(8px);
	}
	35% {
		transform: translateX(-7px);
	}
	45% {
		transform: translateX(6px);
	}
	55% {
		transform: translateX(-5px);
	}
	65% {
		transform: translateX(4px);
	}
	75% {
		transform: translateX(-3px);
	}
	85% {
		transform: translateX(2px);
	}
	95% {
		transform: translateX(-1px);
	}
	100% {
		transform: translateX(0px);
		background-color: var(--ld-passcode-danger);
	}
}